<head>
    <title>Category List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/category/category-list.css">
  </head>
  
  <body>
    <h1>Category List</h1>
    <div style="text-align: center; margin-bottom: 20px;">
      <a href="/categories/create" class="btn btn-primary">Add New Category</a>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(category=> { %>
            <tr>
              <td>
                <%= category.name %>
              </td>
              <td>
                <a href="/categories/edit/<%= category._id %>" class="btn btn-warning">Edit</a>
                <a href="/categories/delete/<%= category._id %>" class="btn btn-danger">Delete</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
  
    <!-- Pagination Row -->
    <div class="row justify-content-center">
      <div class="col-auto">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <!-- Previous Page -->
            <% if (pagination.hasPrevPage) { %>
              <li class="page-item">
                <a class="page-link" href="?page=<%= pagination.currentPage - 1 %>">&laquo;</a>
              </li>
              <% } else { %>
                <li class="page-item disabled">
                  <span class="page-link">&laquo;</span>
                </li>
                <% } %>
  
                  <!-- Page Numbers -->
                  <% for (let i=1; i <=pagination.totalPages; i++) { %>
                    <li class="page-item <%= i === pagination.currentPage ? 'active' : '' %>">
                      <a class="page-link" href="?page=<%= i %>">
                        <%= i %>
                      </a>
                    </li>
                    <% } %>
  
                      <!-- Next Page -->
                      <% if (pagination.hasNextPage) { %>
                        <li class="page-item">
                          <a class="page-link" href="?page=<%= pagination.currentPage + 1 %>">&raquo;</a>
                        </li>
                        <% } else { %>
                          <li class="page-item disabled">
                            <span class="page-link">&raquo;</span>
                          </li>
                          <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </body>